h1.title {
    font-size: 22px;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-top: 2rem;
}

ion-button {
    margin-top: 1.9rem;
    margin-left: 1rem;
}

ion-footer {
    text-align: center;
}